@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* 
SemiBold 600
Bold 700
ExtraBold 800
*/

/* --------------
    Общие стили
-----------------*/

body {
    margin: 0;

    color: #959595;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.5px;
    
    background-color: #202020;
}

img {
    max-width: 100%;
}

a {
    color: #DEDEDE;
    text-decoration: none;
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-weight: 800;
    
    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 16px 48px;

  font-size: 18px;
  color: #FFFFFF;

  background: #9D9D9D;
  border-radius: 4px;
    

}

.btn:hover {
    opacity: 0.8;
}

.btn::before {
    content: "";
    width: 21px;
    height: 16px;

    background-image: url("images/mail.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    margin-top: 0;
    font-size: 36px;
    text-align: center;
    color: #DEDEDE;
}

.socials {
    display: flex;
    gap: 43px;
}

.socials__img {
    display: flex;
}


/* --------------
    Header
-----------------*/

.header {
    padding: 20px 0;
    
    background: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(10px);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.header__nav {
    display: flex;
    gap: 60px;
}

.header__link {
    font-weight: 700;
    font-size: 18px;
}



/* --------------
    Welcome
-----------------*/



.welcome {
    margin-top: 160px;
}

.welcome .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome__title {
    width: 500px;
    margin-bottom: 24px;
    margin-top: 0;

    font-weight: 700;
    font-size: 54px;
    line-height: 1.19;
    color: #DEDEDE;
}

.welcome__text {
    width: 395px;
    margin-bottom: 88px;
}

.welcome__img {
    margin-right: 105px;

    width: 400px;
    height: 400px;
    border-radius: 50%;

    object-fit: cover;
    object-position: center;
}


/* --------------
    Works
-----------------*/

.works {
    margin-top: 140px;
}

.works__btn {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin-bottom: 80px;

    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #DEDEDE;
    
    background-color: transparent;
    border: none;
    opacity: 0.7;
}

.works__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

    padding-top: 140px;
}

.work {
    height: 888px;
    position: relative;
}

.work:nth-child(odd) {
    margin-top: -140px;
}

.work:hover { 
    opacity: 1;
}

.work__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__name {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 40px;

    background-color: rgb(0, 0, 0, 0.6);
    transition: opacity 0.4s;
}

.work:hover .work__name {
    opacity: 1;
}

/* --------------
    Project
-----------------*/

.projects {
    margin-top: 200px;
}

.projects__title {
    margin-top: 0;
    margin-bottom: 65px;

    font-size: 36px;
    text-align: center;
    color: #DEDEDE;
}

.projects__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.projects__img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.projects--vertical .projects__img {
    height: 560px;
}

/* --------------
    Contact
-----------------*/

.contact {
    margin-top: 200px;
    margin-bottom: 120px;
}

.contact .container {
    max-width: 520px;
    text-align: center;
}

.contact__title {
    margin-bottom: 24px;
}

.contact__text {
    margin-bottom: 50px;
    font-size: 26px;
}

/* --------------
    Footer
-----------------*/

.footer {
    padding: 48px 0px 36px 0px;
    border-top: 1px solid #696969;
}

.footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer__copy {
    font-size: 16px;
}

.footer__copy span {
    color: #ECECEC
}